.sigin {
  padding: 50px 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  min-height: 495px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 70px;

  .sigin-form__topnav {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 18px;

    .sigin-form__topnav-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .sigin-form__topnav-links {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 25px;
      }
    }

    .sigin-form__topnav-link::before {
      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      width: 72%;
      height: 3px;
      background-color: #ff6033;
      transform: scaleX(0);
      transition: 0.7s;
    }

    .sigin-form__topnav-link:hover::before {
      transform: scaleX(1);
    }

    .sigin-form__topnav-link {
      color: white;
      padding: 0 0 4px;
    }
  }

  .sigin-form {
    display: flex;
    flex-wrap: wrap;

    .sigin-form__input-holder {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-bottom: 18px;
    }

    .sigin-form__label {
      font-family: "Quicksand", sans-serif;
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 10px;
    }

    .sigin-form__input {
      border: 2px solid #b190cd;
      border-radius: 0;
      outline: none;
      padding: 10px 7px;
      width: 100%;
      height: 40px;

      &:focus {
        border-color: rgb(59, 110, 228);
      }
    }

    .sigin-form__checkbox-holder {
      display: flex;
      width: 100%;
      font-family: "Quicksand", sans-serif;
      font-size: 13px;
      font-weight: 700;
      padding: 19px 0 38px 0;

      input[type="checkbox"],
      input[type="radio"] {
        display: none;
      }

      input[type="checkbox"] + label:before {
        content: "\2714";
        color: transparent;
        display: inline-block;
        border: 1px solid #ccc;
        font-size: 20px;
        font-weight: 900;
        line-height: 22px;
        margin: -5px 5px 0 0;
        height: 20px;
        width: 20px;
        text-align: center;
        vertical-align: middle;
        transition: color ease 0.3s;
      }

      input[type="checkbox"]:checked + label:before {
        color: #fff;
        background-color: #4da16e;
      }

      input[type="radio"] + label:before {
        content: "\26AB";
        border: 1px solid #000;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid #000;
        font-size: 20px;
        line-height: 20px;
        margin: -5px 5px 0 0;
        height: 20px;
        width: 20px;
        text-align: center;
        vertical-align: middle;
        font-size: 0;
        transition: font-size ease 0.3s;
      }
      input[type="radio"]:checked + label:before {
        font-size: 20px;
      }
    }

    .sigin-form__button-holder {
      display: flex;
      width: 100%;

      .btn {
        border-radius: 0;
        border: none;
        background-color: #4da16e;
        cursor: pointer;
        width: 100%;
        height: 45px;
        margin-bottom: 15px;
        font-family: "Quicksand", sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: white;
        transition: ease-in-out 0.6s;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .sigin-form__links {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .sigin-form__link {
        display: flex;
        flex-wrap: wrap;
        font-family: "Quicksand", sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: white;
        padding-top: 30px;
        transition: ease-in-out 0.4s;
      }

      .sigin-form__link:hover {
        color: rgb(60, 127, 204);
      }
    }
  }
}
